* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ticket {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  filter: drop-shadow(0 2px 8px rgba(0 0 0 / 0.1));
  padding: 20px;
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: #2196F3;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    &__logo {
      width: 110px;
      height: 36px;
      background-image: url(../assets/img/S7Logo.svg);
    }
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    &__chunk {
      display: flex;
      flex-direction: column;
    }
    &__chunk>span:first-child {
      color: #A0B0B9;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
    }
    &__chunk>span:last-child {
      color: #4A4A4A;
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
    }
  }
}



